################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DocumentosBrasileiros/.vs
/DocumentosBrasileiros/bin
/DocumentosBrasileiros.Test/bin